@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #061121;
  --text-sub-color: #1199FA;
}

body { 
  color: var(--vt-c-white);
  background: var(--brand-color); 
}
